.main{
    min-width: 100vw;
    min-height: 100vh;
    left:0;
    top:0;
    }
    *{
        margin: 0px;
        padding: 0px;
        /* background-image: url("bgimg.png"); */
    }
    .no{
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(245, 127, 59);
        font-weight: 900;
        padding: 10px;
    }
    header{
        height: 75px;
        background-color: black;
    }
    .no:hover{
        display: inline;
        color:white;
        border-radius: 10px;
        letter-spacing: 5px;
        cursor: pointer;
        width: 380px;
    }
    .flexxx{
        display:flex;
        justify-items: center;
        /* justify-content: space-around; */
        justify-content: center;
    }
    .y:hover{
        color: white;
        border: 5px;
    }
    .n:hover{
      color: orangered;
      border: 5px;
    }